---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import LocationIcon from "../icons/Location.astro";
import Social from "../components/Social.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <div class="w-full h-screen flex flex-col justify-center items-center gap-3">
    <Profile />
    <h1 class="font-[ObjectiveMedium] text-[#FFFFFF] text-sm sm:text-lg">
      @brennervera
    </h1>
    <p
      class="-mt-2 font-[ObjectiveMedium] text-[#FFFFFF] flex items-center gap-1 text-xs sm:text-sm"
    >
      <LocationIcon />Monterey, M&eacute;xico
    </p>
    <Social />
    <div class="w-fit flex flex-col gap-3 mt-5 px-3">
      <Card />
    </div>
  </div>
</Layout>

