---
import { CARDS } from "../consts/cards";
---

{
  CARDS.map((item) => (
    <a href={item.link} target="_blank">
      <div class="flex flex-col items-center border-2 rounded-2xl py-[.58rem] px-4 sm:px-6 hover:opacity-75 hover:scale-105 transition-all duration-300 ease-in-out">
        <h3 class="font-[ObjectiveBold] text-center text-[#FFFFFF] text-xs sm:text-sm">
          {item.title}
        </h3>
        <p class="font-[ObjectiveLight] text-center text-[#FFFFFF] text-[.58rem] sm:text-[.65rem]">
          {item.description}
        </p>
      </div>
    </a>
  ))
}
