---
import Link from "./ui/Link.astro";
import Facebook from "../icons/Facebook.astro";
import Youtube from "../icons/Youtube.astro";
import Telegram from "../icons/Telegram.astro";
import Whatsapp from "../icons/Whatsapp.astro";
import TikTok from "../icons/TikTok.astro";
import Instagram from "../icons/Instagram.astro";
---

<div class="flex items-center gap-2">
  <Link to="https://www.facebook.com/brennerveraoficial">
    <Facebook className="w-8" />
  </Link>
  <Link to="https://www.youtube.com/@brennerveraoficial">
    <Youtube className="w-7" />
  </Link>
  <Link to="https://t.me/brennerveraoficial">
    <Telegram className="w-8" />
  </Link>
  <Link to="https://wa.link/ndmupz">
    <Whatsapp className="w-6" />
  </Link>
  <Link to="https://www.tiktok.com/@brennerveramindset">
    <TikTok className="w-6" />
  </Link>
  <Link to="https://www.instagram.com/brennerveraoficial/">
    <Instagram className="w-6" />
  </Link>
</div>
